<p>Date:<br><%= text_field_tag :date %><br></p>
<p>What workout(s) did you do?<br><%= text_area_tag :training %><br></p>
<p>How were you feeling?<br><%= text_area_tag :mood %><br></p>
<p>How long was your workout?<br><%= text_area_tag :length %><br></p>