<h2><%= link_to "Create a new workout here!", new_workout_path %></h2><br>
<% @workouts.each do |workout| %>
<p><%= link_to workout.date, workout %>
<h3>You focused on:</h1>
<p><%= workout.training %><br><br>
-------------------------------------
<br>
<% end %>