<h2 style="text-align: center"><%= exercise.name %></h2>
<h4 style="text-align: center">Sets: <%= exercise.sets %></h4>
<h4 style="text-align: center">Reps: <%= exercise.reps %></h4><br>
<h1 style="text-align: center">-------------------------</h1>